# Ignore node_modules folder
node_modules/

# Ignore tokens.json file
tokens.json

# Ignore cache and log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore directories for temporary files
.tmp/
.temp/
.cache/
dist/

# Ignore environment variable files
.env

# Ignore macOS files
# misc
.DS_Store
.env.local
.env.development.local
.env.development
.env.test.local
.env.production.local
.env.production

# Ignore IDE/editor specific files
.idea/
.vscode/
*.sublime-workspace

# Ignore compiled files
*.log
*.pyc
*.pyo
*.pyd
*.swp
*.swo
